<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Puertos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/navbar.css">   
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
    
        <div class="card ">
            <div class="card-body  bg-dark text-white">
              <!-- Sidebar -->
   			 <nav id="sidebar">
      	  <div href="/css/navbar.css" class="sidenav">
    <ul >
            <p> Navegaciçon</p>
              <li>
                <a th:href="@{/ciclistas/home}">Home</a>
            </li>
            <li>
                <a th:href="@{/ciclistas/listaCiclistas}">Ciclistas</a>
            </li>
            <li>
                <a th:href="@{/ciclistas/listaEquipos}">Equipos</a>
            </li>
            <li>
               <a th:href="@{/ciclistas/listaEtapas}">Etapas</a>
            </li>
             <li>
               <a th:href="@{/ciclistas/listaMaillots}">Maillots</a>
            </li>
            <li>
                <a th:href="@{/ciclistas/listaPuertos}">Puertos</a>
            </li>
              <li>
                <a th:href="@{/ciclistas/listaGanadores}">Ganadores</a>
            </li>
            <li>
                 
                    <form th:action="@{/logout}" method="POST">
                    <button class="btn btn-outline-light" type="submit"> Logout </button>
                    </form>
            </li>
        </ul>
        </div>
    </nav>
                <div th:switch="${puerto}" class="container lg-5  bg-dark text-white">
                    <p class="my-6">
                        <a th:href="@{/ciclistas/createPuertos}" class="btn btn-primary"><i
       class="fas fa-user-plus ml-4"> Añadir puerto</i></a>
                    </p>
                    <div class="col-md-10">
                        <h2 th:case="null">No hay puertos</h2>
                        <div th:case="*">
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Altura</th>
                                        <th>Categoria</th>
                                        <th>Pendiente</th>
                                        <th>Dorsal</th>
                                        <th>Numero Etapa</th>
                                        <th>editar</th>
                                        <th>borrar</th>
                                      
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="puerto : ${puertos}">
                                        <td th:text="${puerto.nompuerto}"></td>
                                        <td th:text="${puerto.altura}"></td>
                                        <td th:text="${puerto.categoria}"></td>
                                         <td th:text="${puerto.pendiente}"></td>
                                          <td th:text="${puerto.dorsal.nombre}"></td>
                                           <td th:text="${puerto.netapa.netapa}"></td>
                                         <td><a th:href="@{/ciclistas/rmPuertos/{id}(id=${puerto.nompuerto})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                        <td><a th:href="@{/ciclistas/deletePuertos/{id}(id=${puerto.nompuerto})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                                      
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
  
</body>

</html>